<div class="container mt-5 rounded p-2" style="background-color: rgb(217, 217, 217);">
  <div class="row">
    <div class="col">
      <table class="table table-striped w-100">
        <thead>
          <tr>
            <th scope="col" *ngFor="let headname of headTable">{{ headname }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people | async">
            <td>{{ person.name }}</td>
            <td>{{ person.lastname }}</td>
            <td>{{ person.phone }}</td>
            <td>{{ person.age }}</td>
            <td>{{ person.gender | gender }}</td>
            <td>{{ person.birthDate | date: 'dd/MM/YYYY' }}</td>
            <td>{{ person.isBreastfeedingOrPregnant | booleanToSpanish }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
